.header {
  width: 100%;
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border);
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-text-primary);
}

/* Навигация (desktop) */
.header__nav {
  display: flex;
  gap: 24px;
}

.header__nav a {
  font-size: 16px;
  color: var(--color-text-secondary);
}

.header__nav a:hover {
  color: var(--color-text-primary);
}

/* Бургер */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 24px;
  height: 2px;
  background-color: var(--color-text-primary);
  transition: 0.3s;
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;

    background-color: var(--color-bg-primary);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px 0;

    border-bottom: 1px solid var(--color-border);

    /* АНИМАЦИЯ */
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;

    transition:
      transform 0.25s ease,
      opacity 0.25s ease;
  }

  .header__nav.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.burger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
